.my-panel .x-panel-header {
    height: 32px; 
}
.my-panel .x-panel-header-text {
    font-size:50px;
}
.my-panel .x-panel-header-body {
    height: 30px;
}

.label-517{
    font-size: 16px;
    line-height: 1.15;
    height: 20px;
}


